    body {
        width: 80%;
        margin: 0 auto;
        background-color: rgb(255, 255, 255);
        padding: 20%;
    }

    ul {
        background-color: aquamarine;
        color: black;
        padding: 10px;
    }
    
    .main-content {
        width: 70%;
        float: left;
        padding: 10px;
    }

    h1 {
        font-style: italic;
        font-family: "Montserrat", sans-serif;    
    }
    
    h2 {
        font-style: italic;
        font-family: "Montserrat", sans-serif; 
    }

    h3 {
        font-style: italic;
        font-family: "Montserrat", sans-serif;
    }

    h4 {
        font-style: italic;
        font-family: "Montserrat", sans-serif;
    }

    h5 {
        font-style: italic;
        font-family: "Montserrat", sans-serif;
    }

    h6 {
        font-style: italic;
        font-family: "Montserrat", sans-serif;
    }


    p {
        color: black;
    }

    .white {
        color: aliceblue;

    }

  .galerie{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px; 
}

.item img{
    width:100%;
    aspect-ratio:1/1;
    object-fit:cover; 
    display:block;
}

figcaption{
    text-align:center;
    margin-top:8px;
    font-size:14px;
    color:#555;
}



        .montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}